# App
NUXT_PUBLIC_APP_NAME="ORG_CMS"
NUXT_PUBLIC_APP_URL=http://localhost:3000

# Locale
NUXT_PUBLIC_LOCALE_DEFAULT=en

# Auth
NUXT_SESSION_PASSWORD=

# Email
EMAIL_SUPPORT=support@example.com

# Mailer
MAILER_DRIVER=smtp
MAILER_HOST=mailpit
MAILER_PORT=1025
MAILER_USER=null
MAILER_PASS=null
MAILER_ENCRYPTION=ssl
MAILER_FROM=support@example.com
